# https://projectlombok.org/features/configuration

config.stopBubbling = true
# Copy the Value and Qualifier annotation of Spring from the instance variables 
# to the constructor see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations += jakarta.inject.Named
lombok.copyableAnnotations += io.quarkus.cache.CacheName
lombok.copyableAnnotations += org.eclipse.microprofile.config.inject.ConfigProperty
lombok.copyableAnnotations += org.eclipse.microprofile.rest.client.inject.RestClient
lombok.addLombokGeneratedAnnotation = true
